*{
    padding: 0px;
    margin: 0px;
}

body{
    background-color: black;
    color: white;
    background: #E0EAFC;
    background: -webkit-linear-gradient(to right, #CFDEF3, #E0EAFC);
    background: linear-gradient(to right, #CFDEF3, #E0EAFC);
    font-family: "Lexend", sans-serif;
}

.dash-nav{
    backdrop-filter: blur(2px);
    background: #6a3093;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #a044ff, #6a3093);
    background: linear-gradient(to right, #a044ff, #6a3093); 
    box-shadow: -2px -2px 10px black;
    max-height: 10vh;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dash-nav .inner-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
}


.dash-nav .inner-nav .left{
    display: flex;
    align-items: center;
    font-family: "Grand Hotel", cursive;
    padding: 0px 50px;
    width: 30%;
}

.dash-nav .inner-nav .left img{
    padding: 20px 0px;
    height: 50px;
    transform: rotate(-30deg);
    filter: drop-shadow(0px 0px 10px rgba(255, 255, 255, 0.478));
    animation: RotateHat 2s ease-in-out infinite;
}

.dash-nav .inner-nav .left span{
    font-family: "Grand Hotel", cursive;
    font-size: 3rem;
    font-weight: 500;
    color: white;
}

.dash-nav .inner-nav .right{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    width: 70%;
}

.dash-nav .right ul{
    display: flex;
    align-items: center;
    justify-content: end;
    width: 100%;
}

.dash-nav .right ul li{
    list-style: none;
    margin: 0px 15px;
}

.dash-nav .right ul li button{
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    position: relative;
    background-color: transparent;
    border: 0px solid transparent;
    padding: 8px 0px;
    transition: 0.2s ease-in-out;
    outline: none;
    cursor:pointer;
}


.dash-nav .right ul li button::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #ffffff;
  top: 100%;
  left: 50%;
  transform: translateX(-50%) scaleY(0);
  transition: all 0.4s;
}

.dash-nav .right ul li button:hover::before {
  transform: translateX(-50%) scaleY(1);
}

.dash-nav .right ul li button .fa-user{
    border: 2px solid white;
    font-size: 1.5rem;
    padding: 8px;
    border-radius: 10px;
}


.test-data-container{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.test-data{
    background-color: #6a30931f;
    width: 80%;
    height: 100vh;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.474);
}

.test-data .login-card-dash{
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.test-data .login-card-dash .card{
    
    box-shadow: -3px 3px 5px rgba(0, 0, 0, 0.684);
    border-radius: 20px;
    backdrop-filter: blur(5px);
    background: #6a3093;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #a044ff, #6a3093);
    background: linear-gradient(to right, #a044ff, #6a3093); 
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffffff;
}

.test-data .login-card-dash .card h1{
    font-size: 2rem;
}

.test-data .login-card-dash .card p{
    font-size: 1.2rem;
    color: rgba(255, 255, 255, 0.502);
}

.test-data .login-card-dash .card button{
    font-size: 1.3rem;
    padding: 10px 20px;
    width: 50%;
    margin: 40px 10px 10px 10px;
    background-color: transparent;
    text-transform: uppercase;
    border: 2px solid white;
    color: white;
    font-weight: 600;
    text-shadow: -2px 2px 2px rgba(0, 0, 0, 0.339);
    border-radius: 10px;
}

.test-data .login-card-dash .card button:hover{
    background-color: white;
    color: black;
}



.test-data .add-test-card{
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.test-data .add-test-card form{
    background: #E0EAFC;
    background: -webkit-linear-gradient(to right, #CFDEF3, #E0EAFC);
    background: linear-gradient(to right, #CFDEF3, #E0EAFC);
    padding: 30px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    color: rgb(0, 0, 0);
    width: 70%;
    border: 3px solid #a044ff;
    box-shadow: -2px 2px 5px black;
}


.test-data .add-test-card form input{
    font-size: 1.8rem;
    padding: 2px 5px;
    background-color: transparent;
    border: 0px solid transparent;
    outline: none;
    border-bottom: 2px solid rgba(0, 0, 0, 0.346);
    color: rgb(0, 0, 0);
    margin: 5px 0px;
    letter-spacing: 1.5px;
    font-weight: 600;
}

.test-data .add-test-card form input::placeholder{
    font-size: 1.2rem;
}

.test-data .add-test-card form label{
    font-size: 1.5rem;
    letter-spacing: 1.5px;
}


.test-data .add-test-card form .date-time,.dur-marks{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0px;
}

.test-data .add-test-card form .add-test-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0px 10px 0px;
    margin: 10px 0px 0px 0px;
}

.test-data .add-test-card form .add-test-btn button{ 
    width: 80%;
    font-size: 1.3rem;
    border-radius: 8px;
    padding: 8px 5px;
    font-weight: 600;
    border: 3px solid #a044ff;
    background-color: transparent;
    text-shadow: -1px 1px 1px rgba(0, 0, 0, 0.75);
    color: #a044ff;
    box-shadow: -2px 2px 2px rgba(0, 0, 0, 0.559);
    letter-spacing: 5px;
    transition: 0.2s ease-in-out;
}

.test-data .add-test-card form .add-test-btn button:hover{
    border-color: transparent;
    background-color: #a044ff;
    color: white;
    box-shadow: -2px 2px 10px rgba(0, 0, 0, 0.781);
}

.add-test-msg-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 10px 0px 10px;
    transition: 0.2s ease-in-out;
    
}



.add-test-msg{
    font-size: 1.5rem;
    width: 70%;
    padding: 10px 20px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid #a044ff;
    background: #E0EAFC;
    background: -webkit-linear-gradient(to right, #CFDEF3, #E0EAFC);
    background: linear-gradient(to right, #CFDEF3, #E0EAFC);
    box-shadow: -2px 2px 5px black;
}